@import '../abstracts/mixins';
@import '../abstracts/variables';

/*HUD*/
.hud {
  @include border();
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  position: fixed;
  bottom: 0;
  height: fit-content;
  width: 100%;

  /*keymap*/
  &__controls {
    min-width: 300px !important;
    &__keyboard {
      &__keyboardRow {
        text-align: center;
        @include largeScreen() {
          margin: 32px 0 32px 0;
        }
        &__description {
          margin: 4px;
          @include mediumScreen() {
            font-size: 10px;
          }
          @include fantasy-Text();
        }
        &__key {
          @include key();
          &__space {
            @include key();
            @include mediumScreen() {
              min-width: 90px !important;
              font-size: 10px;
            }
            @include largeScreen() {
              min-width: 200px !important;
            }
            display: inline-block;
            padding: 10px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  /*Player-status*/
  &__player-status {
    border-right: 4px groove $border-color;
    border-left: 4px ridge $border-color;

    &__title {
      @include fantasy-Text();
      @include largeScreen() {
        font-size: 32px;
      }
      @include mediumScreen() {
        font-size: 22px;
      }
      font-weight: bolder;
    }
    &__health {
      display: grid;
      grid-template-columns: 10% 90%;
      @include largeScreen() {
        margin-top: 50px;
      }
      @include mediumScreen() {
        margin-top: 8px;
      }
      margin-left: 16px;

      &__description {
        @include fantasy-Text();
        @include largeScreen() {
          font-size: 32px;
        }
        @include mediumScreen() {
          font-size: 22px;
        }
        align-self: center;
        font-weight: bolder;
      }
      &__bar {
        @include border();
        @include largeScreen() {
          height: 60px;
        }
        @include mediumScreen() {
          height: 30px;
        }
        position: relative;
        margin-right: 32px;
        margin-left: 16px;
        border-radius: 5px;
        overflow: hidden;

        &__fill {
          width: 0%;
          height: 100%;
          background: red;
          transition: all 0.2s;
        }

        &__text {
          @include fantasy-Text();
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
        }
      }
    }
    &__experience {
      display: grid;
      grid-template-columns: 10% 90%;
      margin-left: 16px;
      @include largeScreen() {
        margin-top: 25px;
      }
      @include mediumScreen() {
        margin-top: 12px;
        margin-bottom: 4px;
      }

      &__description {
        @include fantasy-Text();
        @include largeScreen() {
          font-size: 32px;
        }
        @include mediumScreen() {
          font-size: 22px;
        }
        align-self: center;
        font-weight: bolder;
      }
      &__bar {
        @include border();
        @include largeScreen() {
          height: 30px;
        }
        @include mediumScreen() {
          height: 15px;
        }
        position: relative;
        margin-right: 32px;
        margin-left: 16px;
        border-radius: 5px;
        overflow: hidden;

        &__fill {
          width: 0%;
          height: 100%;
          background: blue;
          transition: all 0.2s;
        }

        &__text {
          @include fantasy-Text();
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__player-info {
    @include fantasy-Text();
    text-align: left;
    font-weight: bolder;
    @include mediumScreen() {
      margin: auto 0px auto 12px;
    }
    @include largeScreen() {
      margin: auto 0px auto 26px;
      font-size: xx-large;
    }
  }
}
