/*main*/
$background: #000000;
$color: #ffffff;

/*components*/
$main-font: 'Skranji', 'Helvetica', cursive;
$font-size: 2rem;
$border-color: #ffb000;
$text-color: #ffc000;
$text-shadow: #000;
$box-background: radial-gradient(circle, #8b0000, #8b0000);
$box-shadow: rgba(1, 1, 1, 0.3);
$hover-background: radial-gradient(circle, #e52b2b, #8b0000);
$hover-box-shadow: rgba(255, 255, 255, 0.2);
